In [10]:
import pandas as pd

In [11]:
import os
import sys

ruta =os.getcwd()
sys.path.append(ruta)

In [12]:
import warnings
warnings.filterwarnings("ignore")

In [13]:
# Leer el archivo CSV
df_nuevos = pd.read_csv("data/datos_nuevos_creditos_analisis.csv")

In [14]:
#Guardamos los resultados
df_resultados = df_nuevos[['ID', 'int_rc']]

In [15]:
# Los exportamos al archivo
df_resultados.to_csv('data/grupo_4.csv', index=False)

In [16]:
# Mensaje de confirmación
print("Archivo 'grupo_4.csv' exportado exitosamente con los resultados.")

Archivo 'grupo_4.csv' exportado exitosamente con los resultados.

In [17]:
# Esto es solo para comprobar que los resultados estén en el formato correcto
df_grupo_4 = pd.read_csv("data/grupo_4.csv")
print(df_grupo_4.head(10))
df_grupo_4.shape
df_grupo_4

      ID  int_rc
0  10001    0.18
1  10002    0.18
2  10003    0.16
3  10004    0.18
4  10005    0.18
5  10006    0.18
6  10007    0.18
7  10008    0.16
8  10009    0.18
9  10010    0.18

         ID  int_rc
0     10001    0.18
1     10002    0.18
2     10003    0.16
3     10004    0.18
4     10005    0.18
...     ...     ...
1053  11054    0.18
1054  11055    0.18
1055  11056    0.18
1056  11057    0.18
1057  11058    0.18

[1058 rows x 2 columns]